.grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 4px;
  padding: 4px;
}

.layoutSingle {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.layout2col {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.layout2row {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.layout2x2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
